.backButton {
  color: #7b61ff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 48px 0 24px 24px;
  /* margin: 48px 0 24px 24px; */
}

.addNewForm {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #fff;

  /* sdw2 */
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.formDiv {
    padding-top: 40px;
  width: 100%;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.label {
  width: 90%;
  color: #7b61ff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.4px;
  margin: 0 auto;
}

.input {
  padding: 16px 12px;
  width: 85%;
  border-radius: 8px;
  border: 1px solid var(--divider, #aca7c3);
  margin: 8px 0 20px 0;
  display: flex;
  align-self: center;
}

.inputDesc {
  
  height: 156px;
}

.buttonSubmit {
  border: none;
  display: flex;
  width: 240px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #7b61ff;
  color: #fff;
  /* sdw2 */
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  margin: 20px 0 40px 0;
}

.select {
  width: 92%;
}

.newEventTitle {
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 0 24px 24px;
}
