.heroDiv {
  background: url(../../../public/GeoWave.svg) center;
  height: 100vh;
}

.heroButtons {
  display: flex;
  justify-content: flex-end;
  align-items: "center";
}

.addButton, .sortButton, .categoryButton {
  color: inherit;
  font: inherit;
  border: none;
  line-height: normal;
  overflow: visible;
  background: transparent;
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 8px;
  background: #7b61ff;

  /* sdw2 */
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  margin: 40px 12px;
}

.sortButton, .categoryButton {
    background: #FFF;

}

.addButton {
    margin-right: 24px;
}

.eventCard {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(min(100%, max(302px, 100%/5)), 1fr));
    grid-gap: 24px;
    -ms-grid-row-align: 40px;
    
    /* justify-items: center; */
    width: 90%;
    margin: 0 auto;
    /* gap: 24px; */
  }