.headerTitle {
  color: #7b61ff;
  font-family: Alata;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.headerDiv {
  height: 168px;
  border-bottom: 1px solid #7b61ff;
  padding-top: 32px;
  background: #fefcff;
  padding-bottom: 24px;
}

.languageDiv {
  border-radius: 8px;
  background: #fff;

  /* sdw2 */
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  display: flex;
  width: 69px;
  padding: 8px 6px 8px 6px;
  align-items: center;
  gap: 4px;
  height: 38px;
}

.langSelect {
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.headerGroup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  align-items: center;
}

.searchInput {
  display: flex;
  width: 70%;
  height: 38px;
  justify-content: center;

  flex-shrink: 0;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 9px 4px 9px 50px;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  background: transparent url(../public/search.svg) no-repeat 13px center;
  color: #888;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  
}
